.parent {
    background: #000;
    width: 300px;
    height: 300px;
    position: relative;

}

.child1 {
    background: bisque;
    /* position: absolute; */
    /* width: 100px;
    height: 20px;
    top: 70px;
    left: 50px; */
    position: float;
}

.child2 {
    background-color: aquamarine;
    /* position: absolute; */


}

.child3 {

    background-color: red;
    color: white;
    /* position: fixed; */
    /* left: 20px; */
}